.visuallyHidden {
  composes: visuallyHidden from '../../../styles/visibility.module.css';
}
.dropZone {
  padding: 30px;
  border: 2px dashed var(--a-surface-action);
  background-color: var(--a-surface-action-subtle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dragOver {
  opacity: 0.5;
}
.fileCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fileCard.error {
  border: 2px solid var(--a-surface-danger-hover);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fileCardLeftContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}
.deleteAttachment {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--a-icon-action);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deleteAttachment:hover {
  border: 2px solid var(--a-icon-action);
}
.deleteAttachment:focus {
  border: 2px solid var(--a-icon-action);
}
.fileSuccess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: var(--a-surface-success-subtle);
}
.fileError {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: var(--a-surface-danger-subtle);
}
.fileInput {
  padding: 2rem;
  background-color: var(--a-surface-subtle);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.fileInputButton:focus {
  outline: none;
  color: var(--a-text-on-action);
  text-decoration: none;
  background-color: var(--a-border-focus);
  box-shadow: 0 0 0 2px var(--a-border-focus);
}
.fileInputText {
  word-break: break-all;
}
