.barneKort {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-5);
  background-color: var(--navds-semantic-color-component-background-alternate);
}
.barneKort h2 {
  text-align: left !important;
}
.leggTilBarnModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--navds-spacing-10);
  max-width: 600px;
}

.leggTilBarnFnrInput {
  max-width: 14rem;
}
