.stepWizardMain {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--navds-spacing-5) 0;
}
.backLink {
  cursor: pointer;
}
