.kvitteringContent {
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--a-spacing-10);
}
.kvitteringList {
  margin-bottom: 0;
}
.kvitteringContent h2 {
  text-align: center;
}
.linkButton {
  cursor: pointer;
}
