.periodeContainer {
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-4);
}
.datoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--navds-spacing-4);
}
.antallDagerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--navds-spacing-4);
}
.antallDagerTekst input {
  max-width: 10ch;
}
