.formContent {
  composes: formContent from '/styles/layout.module.css';
}
.fourButtonWrapper > button {
  min-width: 201px;
}
.fourButtonWrapper {
  display: grid;
  grid-template-columns: auto 3% auto 1fr;
  /*grid-column-gap: var(--a-spacing-2);*/
  grid-template-rows: auto 1px auto auto;
  grid-row-gap: var(--a-spacing-5);
  grid-template-areas:
    'buttonBack . buttonNext .'
    'sep sep sep sep'
    'sistLagret sistLagret sistLagret sistLagret'
    'buttonSave . buttonCancel .';
}
.separatorLine {
  border-top: 1px solid var(--a-border-default);
  grid-area: sep;
}
.buttonBack {
  grid-area: buttonBack;
}
.buttonNext {
  grid-area: buttonNext;
}
.buttonSave {
  grid-area: buttonSave;
}
.buttonCancel {
  grid-area: buttonCancel;
}
.sistLagret {
  grid-area: sistLagret;
}
@media (max-width: 480px) {
  .fourButtonWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1px auto auto auto;
    grid-row-gap: var(--a-spacing-5);
    grid-template-areas:
      'buttonBack'
      'buttonNext'
      'sep'
      'sistLagret'
      'buttonSave'
      'buttonCancel';
  }
}

.buttonWrapper {
  composes: buttonWrapper from '../../styles/layout.module.css';
}
@media (max-width: 480px) {
  .modalHeading {
    margin-top: 30px;
  }
}
.modalContent {
  composes: formContent;
}
.successStroke {
  width: 60px;
  height: 50px;
  align-self: center;
}
