.veiledningContent {
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--a-spacing-10);
}
.veiledningHeader h1 {
  text-align: center;
  hyphens: manual;
}
.veiledningHeader {
  text-align: center;
  padding: var(--a-spacing-10) 0;
}
