.veiledningContent {
  margin: 0 auto;
  composes: formContent from '/styles/layout.module.css';
}

.startButton {
  margin-top: var(--a-spacing-10);
}

.veiledningHeader h1 {
  text-align: center;
  hyphens: manual;
}
.veiledningHeader {
  text-align: center;
  padding: var(--a-spacing-10) 0;
}
