.stepWizardMain {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stepIndicatorWrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--navds-spacing-10) 0;
}
.visibleOnSmallScreen {
  margin: 0;
  width: inherit;
  height: inherit;
}
.visibleOnLargeScreen {
  margin: 0;
  width: inherit;
  height: inherit;
}
@media only screen and (max-width: 768px) {
  .visibleOnLargeScreen {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
}
@media only screen and (min-width: 769px) {
  .visibleOnSmallScreen {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
}
