.addBehandlerModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--navds-spacing-10);
  max-width: 600px;
}

@media (max-width: 365px) {
  .poststedMobil {
    margin-top: 0;
  }
}

@media (min-width: 366px) and (max-width: 433px) {
  .poststedMobil {
    margin-top: 23px;
  }
}

@media (min-width: 365px) and (max-width: 400px) {
  .poststedMobil {
    margin-top: 24px;
  }
}

@media (max-width: 400px) {
  .addBehandlerModalContent {
    margin-top: 50px;
  }
}
.modalForm {
  composes: modalForm from '/styles/layout.module.css';
}
