.addBehandlerModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--a-spacing-10);
  max-width: 600px;
}

.addresseFlexContainer {
  display: flex;
  gap: var(--a-spacing-4);
  align-items: flex-end;
}

.addresseFlexItem {
  flex-grow: 1;
}

.modalHeading {
  width: calc(100% - var(--a-spacing-10));
}

.modalForm {
  composes: modalForm from '/styles/layout.module.css';
}
