.fastLege > dl {
  margin: 0 0 1em 0;
}
.legeList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: var(--navds-spacing-10);
}

.legeKort {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-5);
  background-color: var(--navds-semantic-color-component-background-alternate);
}
