.fastLege > dd {
  margin: 0 0 1em 0;
}
.legeList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: var(--a-spacing-10);
}

.legeKort {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-5);
  background-color: var(--a-surface-subtle);
}
.cardButtonWrapper {
  composes: buttonWrapper from '/styles/layout.module.css';
}
.cardButtonWrapper > button {
  min-width: 195px;
  max-width: 195px;
}
.oneLineDetail {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--a-spacing-3);
}
.oneLineDetail > dd {
  margin-left: var(--a-spacing-1);
}
