.formContent {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--navds-spacing-10);
}
.buttonWrapper {
  composes: buttonWrapper from '../../styles/layout.module.css';
}
