.utenlandsPeriodeVelger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}

.modalForm {
  composes: modalForm from '/styles/layout.module.css';
}

.countrySelector {
  max-width: 22rem;
}

.pidInput input {
  max-width: 8rem;
}
