.deleteIcon {
  color: var(--navds-semantic-color-interaction-danger);
}

.deleteIcon:hover {
  color: var(--navds-semantic-color-interaction-danger-hover);
}

.deleteIcon:selected {
  color: var(--navds-semantic-color-interaction-danger-selected);
}
