.soknadForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
