.soknadForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--navds-spacing-10)
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--navds-spacing-5)
}
.cancelButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
