.soknadForm h2{
  text-align: center;
}
.soknadForm {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--navds-spacing-10)
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--navds-spacing-10)
}
.buttonWrapper button {
  min-width: 115px;
}
.cancelButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
