.utenlandsPeriodeVelger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--navds-spacing-10);
  max-width: 600px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--navds-spacing-5);
}

.countrySelector {
  max-width: 22rem;
}

.pidInput input {
  max-width: 8rem;
}
