.barnList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.barnList li {
  margin-bottom: var(--a-spacing-8);
}

.barneKort {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-5);
  background-color: var(--a-surface-subtle);
}
.barneKort h2 {
  text-align: left !important;
}
.leggTilBarnModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--a-spacing-10);
  max-width: 600px;
}

.leggTilBarnFnrInput {
  max-width: 14rem;
}

.modalForm {
  composes: modalForm from '/styles/layout.module.css';
}
.cardButtonWrapper {
  composes: buttonWrapper from '/styles/layout.module.css';
}
.cardButtonWrapper > button {
  min-width: 185px;
  max-width: 185px;
}
