html {
  scroll-padding-top: 4rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-container {
  flex: 1;
}
.app {
  padding: var(--a-spacing-10);
}

@media (max-width: 480px) {
  .app {
    padding: var(--a-spacing-2);
  }
  .navds-page-header__title {
    font-size: var(--a-font-size-heading-medium);
  }
}
