.buttonWrapper {
  display: flex;
  flex-direction: row;
  flex: 2;
  height: 100%;
  gap: 1.25rem;
}
@media (max-width: 480px) {
  .buttonWrapper {
    flex-direction: column;
    gap: 0.75rem;
  }

  .buttonWrapper > button {
    width: 100%;
  }
}
.buttonWrapper > button {
  min-width: 201px;
  flex-grow: 1;
}

.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--a-spacing-5);
}
